In [1]:
import pandas as pd

In [2]:
cases = pd.read_csv("data/ccapoutputfile_20210706023712.csv")
cases

,CaseNumber,County,CountyName,Name,FillingDate,Status,ModifiedDate,ZipCodes
0,2021SC015147,40,Milwaukee,Rosso Rei LLC,2021-06-30,Open,7/1/2021 3:26:14 PM,53210
1,2021SC015145,40,Milwaukee,251 Bradley Place LLC,2021-06-30,Open,7/1/2021 3:22:54 PM,53208
2,2021SC015143,40,Milwaukee,Shirlean Clayton,2021-06-30,Open,7/1/2021 3:20:41 PM,53225
3,2021SC015142,40,Milwaukee,Milwaukee Moderne LLC,2021-06-30,Open,7/1/2021 3:19:44 PM,53203
4,2021SC015068,40,Milwaukee,David Butler,2021-06-30,Open,7/1/2021 2:08:30 PM,53212
...,...,...,...,...,...,...,...,...
1390,2021SC000070,21,Forest,Darrell Ward,2021-06-14,Open,6/22/2021 8:39:42 PM,54566
1391,2021SC000068,50,Price,David Ames,2021-06-04,Closed,7/6/2021 4:59:25 PM,54459
1392,2021SC000051,46,Pepin,John Robelia,2021-06-08,Closed,7/1/2021 4:13:39 PM,54721
1393,2021SC000038,26,Iron,Chadwin Bucknell,2021-06-23,Open,6/23/2021 6:30:14 PM,54525
1394,2021SC000016,19,Florence,RICHARD KOSKI,2021-06-04,Open,7/2/2021 4:49:28 PM,"54121,53150"

In [19]:
landlord = cases.groupby(["Name"]).count().iloc[:, :1]
landlord = landlord.rename(columns={"CaseNumber": "Count"})
landlord = landlord.sort_values(by=['Count'], ascending=False)
landlord[:20]

                                           Count
Name
 Residential Properties Resources Fund II     26
 Metropolitan Associates                      25
 White Birch Family Apartments, LLC           16
 Guardian Investment Real Estate Company      14
 Koble Investments, LLC                       14
 S2 Real Estate, LLC                          10
 Focus Property Management                     9
 Diamond Property Management, LLC              8
 Wright Weber Management LLC                   8
 Atunna Properties LLC                         7
Daniel Bruckner                                7
 MIMG XL Harbor Pointe Sub LLC                 7
 TE I LLC                                      7
 Wisconsin Homesites Rockvale, LLC             6
Samuel Johnson                                 6
 Atlantis Properties, LLC                      5
 Real Estate Specialists                       5
 Wright Weber Management                       5
 Titan Property Management                     5
 Edward Rose Associates LLC                    5

In [23]:
zipcode = cases.groupby(["ZipCodes"]).count().iloc[:, :1]
zipcode = zipcode.rename(columns={"CaseNumber": "Count"})
zipcode = zipcode.sort_values(by=['Count'], ascending=False)
zipcode[:20]

          Count
ZipCodes
53206        61
53209        55
53218        45
53223        44
53215        43
53210        43
53216        40
53204        38
53212        34
53208        31
53225        24
53081        21
54901        21
53140        20
54302        16
53511        16
53202        15
53221        15
54956        14
53711        14